/*
    TECH1101 - Web and Internet Fundamentals
    Instructor: Michael Dorsey
    Final Project
    Student Name: Pedro Kuchak Molina
    Student ID: 467777

    GLOBAL STYLE and HOME STYLE

    reference: Roboto https://fonts.google.com/selection/embed

*/

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:root {
    /*colors*/
    --backgroundPrimary: #fdfdfd;
    --primaryColor: #050606;
    --secondaryColor: #dac5af;
    --thirdColor: #adb3bc;
    --fourthColor: #f5f5f5;
    --fifthColor: #95e5ae;

    /*fonts*/
    --font: 'Roboto', sans-serif;
}

html,
body {
    background-color: var(--backgroundPrimary);
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--primaryColor);
    margin: 0;
}

.mainConatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 1.0em;
    color: var(--fifthColor);
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

a:hover {
    color: var(--fifthColor);
}

/*PAGE HEADER*/
.header {
    background-color: var(--fourthColor);
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1em;
    padding-top: 1vh;
    height: 5vh;
    width: 100%;
}

.header * {
    background-color: var(--fourthColor);
}

.logo {
    text-align: left;
    min-width: 50%;
    
}

.logo>span {
    font-size: 1.2em;
    font-style: bold;
    margin-left: 20px;    
}

.menu {
    text-align: right;
    min-width: 50%;
}

.menuLeft {
    display: none;
}

.bars {
    display: none;
}

@media (max-width: 580px) {
    .menu {
        display: none;
    }

    .logo {
        text-align: center;
        margin: 0px;
        min-width: 50%;
    }

    .logo>span {
        margin: 0px;
    }

    .bars {
        display: absolute;
        top: 0;
        left: 0;
        text-align: left;
        display: inline;
        max-width: 15%;
    }

    .menuLeft {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: left;
        visibility: hidden;
        min-height: 70px;
        z-index: 1;
        font-size: 13px;
        padding: 10px;                
        gap: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px var(--secondaryColor);
    }
    
}

.menu span {
    color: var(--primaryColor);
    padding-right: 15px;
    padding-top: 5px;
    font-size: 0.8em;
}

.menu span:hover {
    color: var(--fifthColor);
    cursor: pointer;
}

/*INTRODUCTION*/

.intro {
    background-color: var(--fourthColor);
    display: flex;
    justify-content: center;
    align-items: center;

}


@media (max-width: 1023px) {
    .intro {
        background-color: var(--fourthColor);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: auto;
        margin: auto;
    }

}

.intro * {
    background-color: var(--fourthColor);
}

.introText {
    width: 50%;
    text-align: center;
    background-color: inherit;
    vertical-align: middle;
    margin-right: 50px;
}

@media (max-width: 1023px) {
    .introText {
        width: 90%;
        text-align: center;
        background-color: inherit;
        padding: auto;
        margin: auto;
    }
}


.introTextRegular {
    font-size: 15px;
    color: var(--thirdColor);
}

.introTextName {
    font-size: 40px;
    color: var(--fifthColor);
}

.introText>h2 {
    color: var(--primaryColor);
}

.introPicture {
    height: 100%;
}

.introPicture img {
    clip-path: circle(50%);
    height: 400px;
    margin: 20px;
}

@media (max-width: 1023px) {
    .introPicture img {        
        clip-path: none;
    }

}

/*ABOUT*/

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: auto;
    padding-top: 10px;
    width: 100%;
    
}

.about>div {
    box-shadow: 5px 5px 5px 5px var(--secondaryColor);
    text-align: center;
    border-radius: 10px;
    min-height: 150px;
    min-width: calc(100vmin/3);
    max-width: calc(100vmin/3);
    
}

@media (max-width: 1023px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        flex-basis: auto;
        padding-top: 10px;
        width: 100%;
        min-height: 30vh;
    }

    .about>div {
        margin-top: 20px;
        max-width: 90vw;
        min-width: 90vw;
        margin-left: 10px;
    }

}

.aboutCard {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.aboutCardTitle {
    display: flex;
    flex-direction: row;
}


.aboutCardContent {
    padding-top: 10px;
    font-size: 0.9em;
}

.aboutCardContent>a {
    color: var(--fifthColor);
}

.aboutCardContent>a:hover {
    font-weight: bolder;
}


/*FOOTER*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--backgroundPrimary);
}

.footerSocialMedias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerSocialMedias>a {
    background: none;
    color: var(--secondaryColor);
}

.footerSocialMedias>a:hover {
    color: var(--fifthColor);
}

.footerCopyright {
    text-align: center;
    font-size: small;
    color: var(--secondaryColor);
}